@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-300%, 0);
  }
}

.banner {
  border-bottom: var(--border);
  padding: 1rem 0;
  overflow: hidden;
}

.marquee {
  display: flex;
  flex-wrap: nowrap;
  animation-name: marquee;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.marquee__item {
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-left: (1vw * var(--offset));
}

.banner:first-child {
  border-top: var(--border);
}

.banner__label {
  margin-right: 1rem;
}

.banner__info {
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color);
  margin-right: 20rem;
}
.banner__info a {
  display: inline-block;
}

.banner:nth-child(odd) .banner__info {
  font-family: "Pachinko", serif;
  line-height: 2rem;
}
.banner:nth-child(odd) {
  padding-bottom: 2rem;
}
.banner:nth-child(even) .banner__info {
  font-family: "Ivory", serif;
  font-style: italic;
  line-height: 3rem;
}

@media screen and (max-width: 700px) {
  .banner:nth-child(odd) {
    padding-bottom: 1.5rem;
  }
}
