.grid {
  --gap: min(4.5vw, 2rem);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  scroll-margin-top: 6.5rem;
}

.row:not(.row--not-divided, :first-child) {
  padding-top: 4rem;
}

.row:not(.row--not-divided, :first-child) {
  margin-top: 4rem;
  border-top: var(--border);
}

.row:not(:first-child).row--not-divided {
  margin-top: var(--space-column-vertical);
}

.column {
  grid-column: span var(--span);
  position: relative;
}

.read-more-wrapper {
  display: none;
}

.sticky {
  position: sticky;
  top: 6rem;
}

.blocks {
  height: 100%;
}

.blocks > *:not(:nth-last-child(-n + 2)),
.block--truncated > *:not(:last-child) {
  margin-bottom: var(--space-column-vertical);
}

.blocks p {
  min-height: 1rem;
}

.grid--2:not(.no-line) .column:not(.no-line):first-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: calc(0px - var(--gap) / 2);
  height: 100%;
  border-right: var(--border);
}

.repository-representative {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.repository-representative__title {
  width: 100%;
}

.repository-representative .see-more {
  margin-top: var(--space-column-vertical);
}

.builder h2:not(.h1),
.grid--3 .column--large h2 {
  margin-bottom: var(--space-column-vertical) !important;
}

h3 + h3 {
  margin-top: calc(0px - var(--space-column-vertical));
  font-weight: normal;
}

.builder blockquote footer {
  margin-top: var(--space-column-vertical);
}

hr {
  border: none;
  border-top: var(--border);
  margin: var(--space-column-vertical) 0;
  width: 60%;
}

/* ================= 2/3 ================= */
.builder .grid .column[style="--span:8"] p:not(:last-child) {
  margin-top: 0;
  margin-bottom: var(--space-column-vertical);
}
.builder h3,
.builder .grid .column[style="--span:8"] h3,
.grid--3 .column--large h3 {
  margin-bottom: 0.4rem !important;
}

.builder .grid h3:not(:first-child),
.builder .grid h4:not(:first-child) {
  margin-top: var(--space-column-vertical);
}

/* ================= 1/3 ================= */
.builder .grid--3 h2 {
  margin-bottom: 0.2rem;
}
.builder .grid--3 h3 {
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .column {
    grid-column: span 1 !important;
  }
  .column {
    margin-bottom: var(--space-column-vertical);
  }
  .column::after {
    content: none !important;
  }

  .grid--2:not(.no-line) .column:not(.no-line):first-child {
    padding-bottom: var(--space-column-vertical);
    border-bottom: var(--border);
  }

  .column--truncable .block--truncated:not(.open) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
  }

  .blocks figure img {
    object-fit: cover;
    max-height: 50vh;
  }

  .column--truncable .read-more-wrapper {
    display: flex;
    justify-content: flex-end;
    color: var(--color);
  }
  .column--truncable .block--truncated.open + .read-more-wrapper {
    display: none;
  }

  .grid--3 .column[style="--span:4"],
  blockquote {
    display: block;
  }

  .grid--3 .column[style="--span:4"] .blocks::after {
    content: "";
    width: 40%;
    display: block;
    margin-top: var(--space-column-vertical);
    border-bottom: var(--border);
  }
}
