.card {
  position: relative;
  grid-column: span 6;
}

.card-title {
  margin: 1rem 0 !important;
  font-size: calc(var(--font-size-ml) * 1.3);
}

.card-text {
  position: relative;
  font-family: "Ivory", serif;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; */
}

.card-text__full {
  display: none;
  position: absolute;
  inset: 0;
  background-color: #fff;
  max-height: 100%;
  overflow: auto;
}
.card-text__full.visible {
  display: block;
}

.card-text__full p {
  margin-bottom: 1rem;
}

.card__toggle-full-text {
  font-family: "Pachinko";
  display: block;
  margin-top: 0.5rem;
  padding: 0;
  bottom: 0;
  right: 0;
  font-size: calc(var(--font-size-m) / 1.1);
  color: #4d4d4d;
}

.card-text__full footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
}

.card-text__full footer button {
  position: static;
  display: inline-block;
}

.card-text__full footer button:hover {
  text-decoration: underline;
}

.card__toggle-full-text {
  text-decoration: none;
}
.card__toggle-full-text:hover {
  text-decoration: underline;
}

.card a::before {
  content: "";
  position: absolute;
  inset: 0;
}
