/* ================= PACHINKO ================= */
@font-face {
  font-family: "Pachinko";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Pachinko/Pachinko-RegularText.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-RegularText.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/Pachinko/Pachinko-BoldText.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-BoldText.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-italic";
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/Pachinko/Pachinko-RegularItalic.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-italic";
  font-weight: bold;
  font-style: italic;
  src: url("../../fonts/Pachinko/Pachinko-BoldItalic.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-weight: normal;
  src: url("../../fonts/Pachinko/Pachinko-RegularMono.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-RegularMono.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-weight: bold;
  src: url("../../fonts/Pachinko/Pachinko-BoldMono.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-BoldMono.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/Pachinko/Pachinko-RegularItalic.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/Pachinko/Pachinko-BoldItalic.woff") format("woff"),
    url("../../fonts/Pachinko/Pachinko-BoldItalic.woff2") format("woff2");
}

/* ================= IVORY ================= */
@font-face {
  font-family: "Ivory";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Ivory/IvoryLLWeb-Light.woff") format("woff"),
    url("../../fonts/Ivory/IvoryLLWeb-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory";
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/Ivory/IvoryLLWeb-LightItalic.woff") format("woff"),
    url("../../fonts/Ivory/IvoryLLWeb-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory-italic";
  src: url("../../fonts/Ivory/IvoryLLWeb-LightItalic.woff") format("woff"),
    url("../../fonts/Ivory/IvoryLLWeb-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory-sub";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Ivory/IvoryLLSub-Light.woff") format("woff"),
    url("../../fonts/Ivory/IvoryLLSub-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory-sub";
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/Ivory/IvoryLLSub-LightItalic.woff") format("woff"),
    url("../../fonts/Ivory/IvoryLLSub-LightItalic.woff2") format("woff2");
}
