.main-footer {
  margin: 0 var(--space-margin-s) 2rem var(--space-margin-s);
  padding: 2rem 0;
  border-top: var(--border);
  border-bottom: var(--border);

  display: flex;
  justify-content: space-between;
}

.main-footer li,
.main-footer p {
  font-size: var(--font-size-ms);
  line-height: var(--line-height-ms);
}

.main-footer .identity img {
  width: 5rem;
}

.main-footer .socials {
  display: flex;
}

.main-footer .socials img {
  width: 1.5rem;
  height: 1.5rem;
}

.main-footer .socials li:not(:last-child) {
  margin-right: 1rem;
}

section.links {
  margin: 0 var(--space-margin-s);
  border-top: var(--border);
  padding: 2rem calc(var(--space-margin-l) - var(--space-margin-s));
}

section.links ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

section.links ul li {
  margin-right: 2vw;
}

.simple-cookie-banner__buttons button {
  padding-top: 0.3rem !important;
}

@media screen and (max-width: 700px) {
  .main-footer {
    display: block !important;
  }
  .main-footer > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}
