* {
  scroll-behavior: smooth;
}

main li:not(:last-child) {
  margin-bottom: 0.2rem;
}

main {
  box-sizing: border-box;
  width: 100%;
  margin: 7rem 0;
  padding: 3rem var(--space-margin-l);
}

input:focus,
input:focus-visible {
  outline: none;
}

body[data-template="home"] main {
  margin: 3rem 0;
}

.content-header {
  margin-bottom: var(--space-column-vertical);
}

.honeypot {
  position: absolute;
  left: -9999px;
}
