.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.2s ease-in-out;
}
.main-header--home {
  padding-top: 3rem;
  position: sticky;
  top: -14rem;
}

.submenu-bg {
  position: absolute;
  left: 0;
  padding-top: calc(1rem + 1px);
  width: 100%;
  height: 0;
  background-color: #fff;
  border-bottom: var(--border);
  transition: all 0.2s ease-in-out;
}

.main-header.open .submenu-bg {
  height: 6rem;
}

.main-header .identity {
  margin-bottom: 2rem;
}

.main-header .identity,
.main-header .identity a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.identity img {
  width: clamp(0px, 20%, 18rem);
  margin-right: 2rem;
}

.identity h1 {
  font-size: var(--font-size-l);
}

.logo-small {
  position: absolute;
  width: 5vw;
  left: 1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  transition: opacity 0.2s ease-in-out;
}
.main-header--home .logo-small {
  opacity: 0;
}

.main-header--small .logo-small {
  opacity: 1;
}

.main-nav {
  padding: 1rem var(--space-margin-l);
}

.main-nav ul {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  display: block;
  padding: 0.7rem 1.5vw 0.8rem 1.5vw;
  background-color: var(--color);
  width: fit-content;

  color: #fff;
  flex-shrink: 0;
}

.nav-btn:hover {
  filter: saturate(2);
}

.main-nav .subpages {
  display: none;
  opacity: 1;
  position: absolute;
  padding-top: 1rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  transition: all 0.1s ease-in-out;
}

.main-nav li:hover .subpages,
.subpages:hover {
  display: flex;
}

.main-nav .subpages .nav-btn {
  padding: 0.3rem 1rem;
}
.main-nav .subpages .nav-btn:not(:last-child) {
  margin-right: 1rem;
}

.main-nav ul li.bw {
  filter: saturate(0);
}

/* ================= PANEL NAV ================= */
.burger {
  position: absolute;
  display: flex;
  right: 2rem;
  bottom: 1.5rem;
  align-items: center;
  height: 2rem;
}

.burger__bar {
  display: block;
  width: 2rem;
  height: 2px;
  background-color: var(--color-border);
  transition: transform 0.2s var(--curve-sine);
}

.burger__bar::before,
.burger__bar::after {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2px;
  background-color: var(--color-border);
  transition: all 0.2s var(--curve-sine);
}

.burger__bar::before {
  transform: translateY(-0.6rem);
}
.burger__bar::after {
  transform: translateY(0.6rem);
}

/* UNCOMMENT TO ANIMATE BURGER BARS */
/* .burger.open .burger__bar {
  transform: rotate(-45deg);
}
.burger.open .burger__bar::before {
  transform: translateY(0) rotate(90deg);
}
.burger.open .burger__bar::after {
  opacity: 0;
} */

@media screen and (max-width: 1050px) {
  .nav-btn {
    padding: 0.4rem 1.5vw 0.5rem 1.5vw;
  }
}

@media screen and (max-width: 700px) {
  .main-header {
    top: 0;
    border-bottom: var(--border);
  }
  .main-header--home {
    padding-top: 0 !important;
    border-bottom: none !important;
  }
  .main-header--home .logo-small {
    opacity: 1 !important;
  }

  .main-nav ul,
  .submenu-bg {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-small,
  .burger {
    position: relative;
  }
  .logo-small {
    width: 20vw;
    left: 0;
    margin: 0;
  }
  .burger {
    bottom: 0;
    right: 0;
  }

  .main-header .identity {
    display: none !important;
  }
}
