.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  height: 24.7vw;
}

.column--small .image-wrapper {
  height: auto;
}

.grid--2 .card .image-wrapper {
  height: 19.1vw;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.color-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  mix-blend-mode: hue;

  transition: background-color 0.3s ease-in-out;
}

.card:hover .color-filter,
a > .image-wrapper:hover .color-filter {
  background-color: transparent;
}

.blocks figure img:not(.card img) {
  object-fit: cover;
  height: auto;
}

@media screen and (max-width: 700px) {
  .image-wrapper:not(.card .image-wrapper) {
    height: 24.7vw;
  }

  [data-template="free"] .card .image-wrapper,
  #team-panel .image-wrapper {
    height: 90vw !important;
  }
  [data-template="repository"] .card .image-wrapper,
  [data-template="home"] .card .image-wrapper {
    height: calc(23vw * 2);
  }
}
