.intro--list {
  border-top: none;
  border-bottom: none;
  padding: 0;
  margin-top: 0.7rem;
  margin-bottom: calc(var(--space-column-vertical) * 2);
}

.list__item {
  list-style: none;
  padding: 1.3rem 0;
  border-top: var(--border);
}

.list__item:last-child {
  border-bottom: var(--border);
}
