.nav-panel {
  position: fixed;
  right: -40vw;
  top: 0;
  bottom: 0;
  min-width: 25vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.4s var(--curve-sine);
  background-color: #fff;
  z-index: 999;
  border-left: var(--border);

  padding: 2rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.nav-panel a {
  transition: color 0.2s ease-in-out;
  filter: saturate(1);
}
.nav-panel a:hover {
  color: var(--color);
  filter: saturate(2);
}

.nav-panel__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.nav-panel.open {
  right: 0rem;
}

.nav-panel li {
  margin-left: 1.5rem;
}

.nav-panel > ul > li {
  margin-bottom: 1.5rem;
}

.nav-panel > ul > li > ul > li > ul > li:last-child {
  margin-bottom: 0.5rem;
}

.nav-panel .socials {
  display: flex;
  width: 100%;
}

.nav-panel .socials img {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 700px) {
  .nav-panel {
    width: 100vw;
    right: auto;
    left: 100vw;
    height: 100vh;
    overflow: auto;
  }

  .nav-panel__close {
    position: sticky;
    top: 0;
    left: 100%;
    width: 1.7rem;
  }

  .nav-panel__close img {
    width: 2rem;
  }

  .nav-panel.open {
    left: 0vw;
  }

  .nav-panel a {
    padding: 0.3rem 0;
    display: block;
  }
}
