.list--directory .list__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10vw;
}

.list--directory .link {
  text-align: right;
}

@media screen and (max-width: 700px) {
  .list--directory .list__item {
    display: block;
    position: relative;
  }

  .list--directory .link {
    position: absolute;
    right: 0;
    bottom: 1.3rem;
  }
}
