.content-header .category {
  margin-bottom: calc(var(--space-column-vertical) / 2);
}

.intro {
  padding: var(--space-column-vertical) 6vw;
  margin-top: var(--space-column-vertical);
  border-top: var(--border);
  border-bottom: var(--border);
}

.intro p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .intro {
    padding: var(--space-column-vertical) 0px;
  }
}
