.team {
  display: flex;
}

.team__builder {
  width: 100%;
}

.team__panel {
  position: relative;
  width: 30%;
  margin-left: 2rem;
  border-left: var(--border);
}

.team__panel-wrapper {
  position: sticky;
  padding: 0 2rem;
  top: 6rem;
  max-height: 85vh;
  overflow: auto;
}

.team__panel__close {
  display: none !important;
}

.team__panel > * {
  display: block;
  width: 18.5vw;
}

#team-panel .image-wrapper {
  height: 18.5vw;
}

#team-panel img {
  filter: saturate(0);
}

.team__panel figure,
.team__panel p {
  margin-bottom: var(--space-column-vertical);
}

.member__button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  width: 100%;
}

.member__role,
.member__name {
  width: fit-content;
  flex-shrink: 0;
}
.member__divider {
  width: 100%;
}

.member__divider {
  height: 1px;
  background-color: var(--color-border);
  margin: 0 1rem 0.2rem 1rem;
}

@media screen and (max-width: 700px) {
  .team__panel {
    position: fixed;
    top: 4.5rem;
    left: 100vw;
    background-color: #fff;
    margin-left: 0;
    width: 100vw;
    height: calc(100svh - 4.5rem);
    overflow: auto;
    box-sizing: border-box;
    transition: left 0.3s var(--curve-sine);
  }
  .team__panel-wrapper {
    padding: 4rem 2rem;
    box-sizing: border-box;
    max-height: inherit;
  }
  .team__panel.open {
    left: -1px;
  }
  .team__panel__close {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
  }
  .team__panel__close img {
    position: absolute;
    width: 2rem;
    top: 1rem;
    right: 2rem;
  }
  .team__panel > * {
    width: 100%;
  }

  .member:not(:last-child) {
    margin-bottom: calc(var(--space-column-vertical) / 2);
  }

  .member__button {
    display: block;
  }
  .member__button {
    margin-bottom: 0;
  }

  .member__divider {
    display: none;
  }
  .member__role {
    font-weight: bold;
    text-align: left;
  }
}
