.search {
  position: relative;
  width: 20rem;
  display: flex;
  align-items: center;
  border: var(--border);
  padding: 0.63rem 0.75rem;
  margin-bottom: var(--space-column-vertical);
}

.search {
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.search.close .search__clear {
  display: none;
}

.search__field {
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: "Pachinko", sans-serif;
  margin-left: 0.7rem;
  outline: none;
  border: none;
}

.search__icon,
.search__clear {
  display: flex;
}

.search__icon {
  transform: translateY(0.1rem);
}

.search__clear,
.search__icon {
  width: 1.5rem;
}

.search__clear {
  position: absolute;
  right: 1rem;
}
