form {
  width: 60%;
}

.content-header .information {
  margin-top: 1rem;
}

.content-header .year,
form input[type="submit"] {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color);
  width: fit-content;
  border: none;
  outline: none;
  padding-bottom: 0.75rem;
}

form input[type="submit"] {
  margin-top: 0;
}

form input[type="submit"]:hover {
  cursor: pointer;
  filter: saturate(2);
}

fieldset label {
  margin-right: 3vw;
}

.fields h2 {
  margin: 3rem 0 1rem 0;
}

.fields .privacy {
  color: var(--color);
  filter: saturate(0.7);
  margin-bottom: 1rem;
}

.fields input[type="text"],
.fields input[type="email"],
.fields input[type="phone"] {
  border-bottom: var(--border);
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  display: block;
  width: 100%;
}

.fields .double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

form section.agreement {
  margin: 3rem 0;
}

.alert {
  font-size: var(--font-size-m);
  font-family: "Pachinko", sans-serif;
  color: #f5533d;
  margin-bottom: 1rem;
}

.fields select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 6px;
}

.fields legend {
  margin-bottom: 0.5rem;
}

.fields .labelized {
  display: flex;
  column-gap: 1rem;
  align-items: baseline;
}

.fields .labelized > label {
  flex-shrink: 0;
}

.fields .labelized > select {
  flex-shrink: 1;
  width: 100%;
}

@media screen and (max-width: 700px) {
  form {
    width: 100%;
  }

  .fields .labelized {
    display: block;
  }

  .fields .labelized select {
    margin-top: 0.5rem;
  }
}
