/* =================================== */
/* ================= CONTAINS ONLY FONT RULES ================= */
/* ================= NO MARGIN, PADDING etc. (SEE COMPONENTS) ================= */
/* =================================== */

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
figcaption {
  font-family: "Pachinko", sans-serif;
  font-weight: normal;
}

strong {
  font-family: "Pachinko", sans-serif;
}

h1,
.h1,
.content-header h2 {
  font-family: "Pachinko", sans-serif;
  font-size: var(--font-size-xxl);
}

.content-header h2 {
  text-transform: uppercase;
}

.content-header .intro p {
  font-family: "Ivory-italic", serif;
  font-size: var(--font-size-mlsx);
  color: var(--color);
  line-height: 28px;
}

.nav-btn {
  font-family: "Pachinko", sans-serif;
  letter-spacing: 1px;
  font-size: var(--font-size-s);
}

.subpages .nav-btn {
  font-size: var(--font-size-xs);
}

h3,
.see-more,
.read-more {
  font-family: "Pachinko", sans-serif;
  font-size: var(--font-size-ml);
  font-weight: bold;
}

.see-more,
.read-more,
.link,
p a,
.team__panel a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

h4 {
  font-family: "Pachinko", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color);
  text-transform: uppercase;
  letter-spacing: 2.02px;
}

p,
figcaption,
li {
  font-size: var(--font-size-m);
  letter-spacing: 0.09px;
  line-height: var(--line-height-m);
  color: inherit;
}

/* ================= BUILDER ================= */
.builder h2:not(.h1, .grid--3 h2),
.grid--3 .column--large h2 {
  font-family: "Ivory", serif !important;
  font-size: var(--font-size-mlx) !important;
  color: var(--color);
}
.team__builder h2 {
  color: inherit !important;
}

.builder .grid .column[style="--span:8"] p,
.builder .grid--3 .column[style="--span:4"] p,
.list--directory .name,
.list--jobs .job__description,
.grid--3 .column--large p {
  font-family: "Ivory", serif;
  font-size: var(--font-size-m) !important;
}

.builder .grid .column[style="--span:4"] p,
.builder .grid--3 .column--small p,
.member p {
  font-family: "Pachinko", serif;
  font-size: var(--font-size-ms);
  letter-spacing: 0.24px;
  line-height: 22px;
}

.member__button:hover,
.member__button.active {
  color: var(--color);
}

.team__panel p,
.nav-panel__page {
  font-family: "Ivory", serif;
  line-height: 24px;
  letter-spacing: 0.24px;
  font-size: var(--font-size-ms) !important;
}

.nav-panel__subpage,
.nav-panel__section {
  font-family: "Pachinko", serif;
  font-size: 0.875rem;
  line-height: 23px;
  letter-spacing: 0.21px;
}

.builder .grid--3 h2 {
  font-family: "Pachinko", serif;
  font-size: var(--font-size-xxl);
}

.builder blockquote {
  font-family: "Ivory-italic", serif;
  font-size: var(--font-size-mlsx);
}

.builder blockquote footer,
.search__field {
  font-family: "Pachinko", sans-serif;
  font-size: var(--font-size-m);
}

.list--directory .tags,
.list--directory .link,
.list--jobs .job__infos,
.team__panel a {
  font-family: "Pachinko", serif;
  font-size: var(--font-size-ms);
  letter-spacing: 0.24px;
  line-height: 22px;
  color: var(--color);
}

/* ================= SUBMISSION ================= */
.content-header .information {
  font-size: var(--font-size-mlsx);
  font-family: "Ivory", serif;
  color: var(--color);
  font-style: italic;
}

form label {
  cursor: pointer;
}

.content-header .year,
form input[type="submit"] {
  font-family: "Pachinko", sans-serif;
  font-weight: bold;
  font-size: var(--font-size-ml);
}

.fields .privacy {
  font-size: var(--font-size-s);
  font-weight: bold;
}

.fields,
label,
.fields select {
  font-family: "Pachinko", sans-serif;
  font-size: var(--font-size-m);
}

.fields h2 {
  font-family: "Ivory", serif;
  font-size: var(--font-size-mlx);
}

.fields input[type="text"],
.fields input[type="email"],
.fields input[type="phone"] {
  all: unset;
}

.blocks figcaption {
  font-family: "Pachinko", sans-serif;
  font-size: var(--font-size-xs);
  line-height: 0.7;
  color: #8c8c8c;
}

/* ================= FOOTER ================= */
.main-footer * {
  font-family: "Pachinko", sans-serif;
}

@media screen and (max-width: 700px) {
  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: var(--font-size-ml);
  }

  .list__item .tags p,
  .list__item .link a {
    font-size: var(--font-size-ms);
  }

  .nav-panel__page {
    font-size: 1.5rem !important;
  }

  .nav-panel__subpage,
  .nav-panel__section {
    font-size: 1.2rem !important;
  }
}
