:root {
  --font-size-xs: 0.688rem;
  --font-size-s: 0.844rem;
  --font-size-ms: 1rem;
  --font-size-m: 1.125rem;
  --font-size-ml: 1.2rem;
  --font-size-mll: 1.375rem;
  --font-size-mlsx: 1.5rem;
  --font-size-mlx: 1.875rem;
  --font-size-l: 2.188rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 4.0625rem;

  --color-border: #707070;
  --border: 1px solid var(--color-border);

  --line-height-ms: 1.375rem;
  --line-height-m: 1.5rem;

  --space-margin-s: 4vw;
  --space-margin-l: 11vw;
  --space-column-vertical: 2rem;

  --curve-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  --width-main-column: min(74rem, 70vw) !important;
}

@media screen and (max-width: 700px) {
  :root {
    --font-size-ml: 0.85rem;
    --font-size-mlsx: 1.25rem;
    --font-size-xl: 1.875rem;
    --font-size-xxl: 3rem;
    --space-margin-l: 5vw;
  }
}
