
.k-column[data-v-9d6fc6bb] {
  width: 100%;
}
.k-column[style="--width: 1/1"][data-v-9d6fc6bb] {
  margin: auto;
}
.k-item[data-v-9d6fc6bb] {
  grid-column: span 12;
}
img[data-v-9d6fc6bb] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p[data-v-9d6fc6bb] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
h3[data-v-9d6fc6bb] {
  font-family: "Pachinko", serif !important;
  font-size: 1.25rem;
  font-weight: bold;
}

.k-layout[data-v-97d65fa8] {
  padding-right: 0;
}
section[data-v-97d65fa8] {
  display: flex;
  justify-content: center;
}
