@import url("./src/variables.css");
/* ================= PACHINKO ================= */
@font-face {
  font-family: "Pachinko";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Pachinko/Pachinko-RegularText.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-RegularText.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Pachinko/Pachinko-BoldText.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-BoldText.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-italic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Pachinko/Pachinko-RegularItalic.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-italic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Pachinko/Pachinko-BoldItalic.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-weight: normal;
  src: url("../fonts/Pachinko/Pachinko-RegularMono.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-RegularMono.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-weight: bold;
  src: url("../fonts/Pachinko/Pachinko-BoldMono.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-BoldMono.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Pachinko/Pachinko-RegularItalic.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Pachinko-mono";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Pachinko/Pachinko-BoldItalic.woff") format("woff"),
    url("../fonts/Pachinko/Pachinko-BoldItalic.woff2") format("woff2");
}

/* ================= IVORY ================= */
@font-face {
  font-family: "Ivory";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Ivory/IvoryLLWeb-Light.woff") format("woff"),
    url("../fonts/Ivory/IvoryLLWeb-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Ivory/IvoryLLWeb-LightItalic.woff") format("woff"),
    url("../fonts/Ivory/IvoryLLWeb-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory-italic";
  src: url("../fonts/Ivory/IvoryLLWeb-LightItalic.woff") format("woff"),
    url("../fonts/Ivory/IvoryLLWeb-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory-sub";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Ivory/IvoryLLSub-Light.woff") format("woff"),
    url("../fonts/Ivory/IvoryLLSub-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Ivory-sub";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Ivory/IvoryLLSub-LightItalic.woff") format("woff"),
    url("../fonts/Ivory/IvoryLLSub-LightItalic.woff2") format("woff2");
}

/* ================= STYLES ================= */
.k-layout-field .k-column[style="--width: 2/3;"] h2 {
  font-size: 1.875rem;
  font-weight: normal;
  font-family: "Ivory", serif !important;
}

.k-layout-field .k-block-type-text-input h3 {
  font-family: "Pachinko", serif !important;
  font-size: 1.25rem;
  font-weight: bold;
}

.k-layout-field .k-block-type-quote-editor {
  padding-inline-start: 0;
  border-inline-start: none;
}
.k-layout-field .k-block-type-quote-text {
  font-family: "Ivory-italic", serif;
  font-size: 1.5rem;
}
.k-layout-field .k-block-type-quote-citation {
  font-family: "Pachinko", sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.k-layout-field .k-text a {
  text-decoration: none;
  color: var(--color);
}

.k-layout-field .k-column[style="--width: 2/3;"] p,
.k-layout-field .triptych .k-column p {
  font-family: "Ivory", serif !important;
  font-size: 1.125rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.k-layout-field .k-column[style="--width: 2/3;"] strong,
.k-layout-field .triptych .k-column strong {
  font-family: "Pachinko", sans-serif !important;
}

.k-layout-field .k-column[style="--width: 2/3;"] h2 {
  margin-bottom: var(--space-column-vertical) !important;
  color: var(--color);
}

.k-layout-field .k-column[style="--width: 2/3;"] h3,
.k-layout-field .triptych .k-column h3 {
  margin-bottom: 0 !important;
}

.k-layout-field .triptych .k-column h3 {
  margin-top: 0 !important;
}

.k-layout-field .k-column[style="--width: 1/3;"] p {
  font-family: "Pachinko", serif;
  font-size: 1rem;
}

.k-layout-field .k-column h3 + h3 {
  margin-top: 0;
  font-weight: normal;
}

.k-layout-field .triptych .k-column h2 {
  font-family: "Pachinko", sans-serif;
  font-size: var(--font-size-xxl);
  margin-bottom: 0;
}

.k-layout-field .k-text a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
