<template>
  <section tabindex="0">
    <template v-if="pages.length > 0">
      <RepresentativeBlockItem
        v-for="page in pages"
        :page="page"
        :key="page.id"
        :columns="pages.length"
        :isChildrenMode="content.ischildrenmode"
      />
    </template>
  </section>
</template>

<script setup>
import RepresentativeBlockItem from "./RepresentativeBlockItem.vue";
import { watch, ref } from "vue";

const { content } = defineProps();

const pages = ref([]);

setContent();
watch(content, () => {
  setContent();
});

function setContent() {
  if (content.location === "external") {
    content.ischildrenmode = false;
    pages.value = [
      {
        content: {
          title: content.alttitle,
          intro: content.alttext,
          cover: content.altcover,
        },
        url: content.link,
        id: Date.now(),
      },
    ];
  } else {
    setPages();
  }
}

async function setPages() {
  const target = content.target[0];
  if (!target) return;

  if (!content.ischildrenmode) {
    try {
      const page = await fetchPage(target.link);
      setTimeout(() => {
        pages.value = [
          {
            content: {
              title:
                content.alttitle.length > 0
                  ? content.alttitle
                  : page.content.title,
              intro:
                content.alttext.length > 0
                  ? content.alttext
                  : page.content.intro
                  ? page.content.intro
                  : page.content.description
                  ? page.content.description
                  : "",
              cover:
                content.altcover.length > 0
                  ? content.altcover
                  : page.content.cover,
            },
            url: page.url,
            id: page.id,
          },
        ];
      }, 100);
    } catch (error) {
      console.error("Couldn't fetch target:", error);
    }
  } else {
    try {
      const request = await window.panel.api.get(
        `${target.link}/children?select=content,id,template`
      );
      const children = request.data;
      pages.value = children;
    } catch (error) {
      console.error("Couldn't fetch target children:", error);
    }
  }
}

async function fetchPage(link) {
  try {
    const page = await window.panel.api.get(link);
    return page;
  } catch (error) {
    console.error("Fetch target error:", error);
  }
}
</script>

<style scoped>
.k-layout {
  padding-inline-end: 0;
}

section {
  display: flex;
  justify-content: center;
}
</style>
