<template>
  <div
    v-if="!isChildrenMode"
    :key="page.content.title"
    :id="page.id"
    tabindex="0"
    class="k-column k-layout-column"
    :style="'--width: 1/' + columns"
  >
    <div
      :data-has-image="cover ? 'true' : 'false'"
      data-layout="cards"
      :data-id="page.id"
      class="k-item k-draggable-item"
    >
      <figure class="k-frame k-icon-frame k-item-image">
        <img v-if="cover" :src="cover" alt="" />
      </figure>
      <button
        v-if="!isChildrenMode"
        data-has-icon="true"
        title="Déplacer pour réordonner…"
        type="button"
        class="k-button k-sort-handle k-sort-button k-item-sort-handle"
        tabindex="-1"
      >
        <span class="k-button-icon"
          ><svg aria-hidden="true" data-type="sort" class="k-icon">
            <use xlink:href="#icon-sort"></use></svg
        ></span>
      </button>
      <div class="k-item-content">
        <h3 class="k-item-title">{{ page.content.title }}</h3>
        <p class="k-info">{{ intro }}</p>
      </div>
    </div>
  </div>
  <div
    v-else
    :key="page.content.title"
    :id="page.id"
    tabindex="0"
    class="k-column k-layout-column"
    :style="'--width: 1/' + columns"
  >
    <div class="blocks">
      <div
        class="k-block-container k-block-container-fieldset-page k-block-container-type-page"
      >
        <div class="k-block k-block-type-page">
          <div class="k-grid k-layout">
            <div
              :data-has-image="cover ? 'true' : 'false'"
              data-layout="cards"
              :data-id="page.id"
              :data-status="page.status"
              :data-template="page.template"
              class="k-item k-draggable-item"
            >
              <figure class="k-frame k-icon-frame k-item-image">
                <img v-if="cover" :src="cover" alt="" />
              </figure>
              <button
                v-if="!isChildrenMode"
                data-has-icon="true"
                title="Déplacer pour réordonner…"
                type="button"
                class="k-button k-sort-handle k-sort-button k-item-sort-handle"
                tabindex="-1"
              >
                <span class="k-button-icon"
                  ><svg aria-hidden="true" data-type="sort" class="k-icon">
                    <use xlink:href="#icon-sort"></use></svg
                ></span>
              </button>
              <div class="k-item-content">
                <h3 class="k-item-title">{{ page.content.title }}</h3>
                <p class="k-info">{{ intro }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue";
const { page, columns } = defineProps({
  columns: Number,
  page: Object,
  isChildrenMode: Boolean,
});

const link = computed(() => {
  try {
    return "/pages/" + page.id.replaceAll("/", "+") || null;
  } catch (error) {
    return null;
  }
});

const cover = ref(null);
const intro = setIntro();

setCover();

async function setCover() {
  if (page.content.hasOwnProperty("cover") && page.content.cover.length > 0) {
    cover.value = page.content.cover[0].url;
  } else {
    if (!link.value) return;
    cover.value = await fetchFirstFile(link.value);
  }
}

function setIntro() {
  if (page.content.hasOwnProperty("intro")) {
    return getFirstParagraph(page.content.intro);
  } else if (page.content.hasOwnProperty("description")) {
    return getFirstParagraph(page.content.description);
  } else {
    return null;
  }
}

function getFirstParagraph(text) {
  const div = document.createElement("div");
  div.innerHTML = text;
  const firstParagraph = div.querySelector("p");
  if (firstParagraph) {
    return firstParagraph.textContent;
  } else {
    return div.textContent;
  }
}

async function fetchFirstFile(link) {
  try {
    const { data } = await window.panel.api.get(`${link}/files`);
    if (data.length > 0) {
      return data[0].url;
    } else {
      return null;
    }
  } catch (error) {
    console.error("Fetch cover image error:", error);
  }
}
</script>

<style scoped>
.k-column {
  width: 100%;
}

.k-column[style="--width: 1/1"] {
  margin: auto;
}

.k-item {
  grid-column: span 12;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

h3 {
  font-family: "Pachinko", serif !important;
  font-size: 1.25rem;
  font-weight: bold;
}
</style>
