<template>
  <div class="page-data" :data-color="color"></div>
</template>

<script>
export default {
  data() {
    return {
      color: "",
    };
  },
  created() {
    this.load().then((response) => {
      this.color = response.color;
    });
  },
};
</script>
